{
    "commands":
    {
        "map":
        {
            "priority": 2,
            "string": "map \"{}\"",
            "default": false
        },
        "g_authenticity":
        {
            "priority": 1,
            "string": "g_authenticity \"{}\"",
            "default": false
        },
        "mbmode":
        {
            "priority": 1,
            "string": "mbmode \"{}\"",
            "default": false
        },
        "fraglimit":
        {
            "priority": 3,
            "string": "fraglimit \"{}\"",
            "default": 12
        },
        "map_restart_mb":
        {
            "priority": "end",
            "string": "map_restart_mb",
            "default": true
        }
    },
    "rotations":
    {
        "large":
        {
            "name": "large",
            "shorthand": "ORD",
            "maps":
            [
                {
                    "map": "mb2_corellia",
                    "g_authenticity": 0,
                    "mbmode": 0,
                    "fraglimit": 12,
                    "map_restart_mb": true
                },
                {
                    "map": "mb2_lunarbase",
                    "g_authenticity": 0,
                    "mbmode": 0,
                    "fraglimit": 12,
                    "map_restart_mb": true
                }
            ]
        }
    }
}