{
    "profiles":
    {
        "_description": "Here you put the different rotations for your server",

        "large":
        {
            "_description": "These are the settings you want when the server switches to this rotation",
            "_note": "maps is the list of the maps on the rotation",

            "sv_hostname": "€€€€€€€ ^4/^5/ ^7RESURGENCE rtv^4/^5/^7rtm",
            "g_hidehudfromspecs": 0,
            "g_password": "none",
            "shorthand": "ORD",
            "maps":
            [
                {
                    "map": "mb2_corellia",
                    "mbmode": 0,
                    "fraglimit": 12,
                    "g_allowedVillainClasses": 0,
                    "g_allowedHeroclasses": 0
                },
                {
                    "map": "mb2_lunarbase",
                    "mbmode": 0,
                    "fraglimit": 12,
                    "g_allowedVillainClasses": 0,
                    "g_allowedHeroclasses": 0
                }
            ]
        }
    },
    "defaults":
    {
        "default_commands":
        {
            "_description": "Commands added to every map if not overwritten. Defaults used",
            "commands":
            [
                "roundlimit", "fraglimit", "g_authenticity", "g_allowedVillainClasses", "g_allowedHeroclasses"
            ]
        },
        "default_attributes":
        {
            "_description": "Attributes added to every command if not overwritten",
        }
    },
    "commands":
    {
        "_description": "A list of commands supported by the generator.",
        "_note": "default_value refers to the default value of the command. If it is false there is none.",
        "_note-2": "priority refers to what order the comands should be put in, lowest first",
        "g_authenticity":
        {
            "_description": "In conjuntion with mbmode changes the mode of the game (Open, Semi-FA, FA)",
            "_note": "This currently does not seem to be in use",
            "priority": 0,
            "string": "g_authenticity \"{}\"",

            "default_value": false
        },
        "map":
        {
            "_description": "Changes the map",
            "priority": 1,
            "string": "map \"{}\"",

            "default_value": false
        },
        "mbmode":
        {
            "_description": "In conjuntion with mbmode changes the mode of the game (Open, Semi-FA, FA)",
            "_note": "This will be used instead of the map command",
            "priority": 2,
            "string": "mbmode \"{}\" \"{}\"",

            "default_value": 0
        },
        "fraglimit":
        {
            "_description": "If a team reaches this amount of won rounds, it wins the map",
            "priority": 3,
            "string": "fraglimit \"{}\"",

            "default_value": 12
        },
        "roundlimit":
        {
            "_description": "When the total rounds reaches this amount, the map ends. Ties may happen",
            "priority": 4,
            "string": "roundlimit \"{}\"",

            "default_value": 12
        },
        "g_allowedVillainClasses":
        {
            "_description": "This restricts what classes imperials can play. 0 is no restrictions",
            "priority": 5,
            "string": "set g_allowedVillainClasses \"{}\"",

            "default_value": 0
        },
        "g_allowedHeroclasses":
        {
            "_description": "This restricts what classes rebels can play. 0 is no restrictions",
            "priority": 6,
            "string": "set g_allowedHeroclasses \"{}\"",

            "default_value": 0
        },
        "map_restart_mb":
        {
            "_description": "Restarts the map",
            "priority": 7,
            "string": "map_restart_mb",

            "default_value": true
        },
        "sv_hostname":
        {
            "_description": "Changes the name of the server",
            "string": "set sv_hostname \"{}\"",

            "default_value": "^4/^5/ ^7Resurgence RTV^4/RTM"
        },
        "g_hidehudfromspecs":
        {
            "_description": "Spectators cannot see the HUD of others",
            "string": "set g_hidehudfromspecs \"{}\"",

            "default_value": 1
        },
        "g_password":
        {
            "_description": "Sets the password players need to join the server",
            "string": "set g_password \"{}\"",

            "default_value": "none"
        }
    }
}